<ion-header>
  <ion-toolbar>
    <ion-title>object-manager-control-new</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="propInput">
    <ion-label position="floating">Neue Eigenschaft</ion-label>
    <ion-input oninput="addPropertie(event)"></ion-input>
  </ion-item>
  <ion-item id="prop">
      <ion-label position="floating" id="propName1">Neue Eigenschaft</ion-label>
      <ion-input oninput="addPropertie(event)"></ion-input>
    </ion-item>
  <ion-button onclick="addPropertie(event,'Hallo')">Erstellen</ion-button>
</ion-content>
<script>
  function addPropertie(event,String) {
    propInput.hidden;
    propName1.innerHTML= String;

  }
</script>