<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/object-manager-control-list"></ion-back-button>
        </ion-buttons>
      <ion-title>object-manager-control-new</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-item>
      <ion-label position="floating">Kontrollname</ion-label>
      <ion-input required clearInput="true" (input)="setValue($event.target.value,$event.target.name)"></ion-input>
    </ion-item>
    <ion-item *ngFor="let control of myForm.controls | keyvalue">
      <ion-label position="floating">Eigenschaft</ion-label>
      <ion-input required type="text" clearInput="true" [formControlName]="control.key" (input)="setValue($event.target.value,$event.target.name)"></ion-input>
      <ion-icon name="trash" slot="end" (click)="removeControl(this.control)"></ion-icon>
    </ion-item>
    <ion-button (click) ="addControl()" [disabled]="myForm.invalid">Neue Eigenschaft</ion-button>
    <ion-button [disabled]="myForm.invalid" (click)="submit()">Erstellen</ion-button>
  </form>
</ion-content>
