
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="object-manager-new"></ion-back-button>
          </ion-buttons>

          <ion-title>Kontrollliste</ion-title>
          <div class="subtitle">
              Görlitz Brückenstraße 1
          </div>
    </ion-toolbar>
</ion-header>


<ion-content>
  <!--
  <ion-list no-lines>
    <ion-list-header *ngFor="let details of searchResults?.controlobject">
      <div style="background-color:#2f6b8c;padding-top:10px;padding-bottom:10px;padding-left:5px;color:white">{{details.city}} </div>
      <button ion-item *ngFor='let detail of details | value' (click)="itemSelected(detail.id)"> 
        <span style="text-transform: capitalize;">{{detail.name}}</span> 
    </button> 
    </ion-list-header>
  </ion-list>
  -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button taget="_self" href="object-manager-control-new" color="success">
        <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
