<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/damage-reports"></ion-back-button>
        </ion-buttons>

        <ion-title>Schadensdetails</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-text>
          <h2>Ort</h2>
          <p>{{damage.property.city}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
          <h2>Adresse</h2>
          <p>{{damage.property.street}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
          <h2>Mieter</h2>
          <p>{{damage.property.owner}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
          <h2>Datum</h2>
          <p>{{damage.createDate}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
          <h2>Beschreibung</h2>
          <p>{{damage.description}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
          <h2>Bilder</h2>
        </ion-text>
        <ion-grid id='gallery-grid_02'></ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
