<ion-header>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Ort </ion-label>
    <ion-label> {{place}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Adresse </ion-label>
    <ion-label> {{address}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Lage </ion-label>
    <ion-label> {{location}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Mieter </ion-label>
    <ion-label> {{tenant}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Datum </ion-label>
    <ion-label> {{date | date}} </ion-label>
  </ion-item>
</ion-content>
