<ion-header>
  <ion-toolbar>
    <ion-title>Objekt Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form">
    <mat-form-field class="full-width">
        <input matInput placeholder="Stadt">
      </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Objekt">
      </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Zusatz">
      </mat-form-field>

    <button mat-fab  class='big-add-button'>
        <mat-icon svgIcon="add" aria-hidden="false" aria-label="Example thumbs up SVG icon">add</mat-icon>
    </button> 
  </form>
    
</ion-content>
