<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/object-manager-reports"></ion-back-button>
    </ion-buttons>

    <ion-title>Neue Kontrolle erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appNetworkListener>
  <form>
      <ion-searchbar id="#city_searchbar"
        (ionBlur)=  "hideItems(cities)"
        (ionChange)="chooseItem($event.target.value , firmCities, 'city')"
        (ionFocus)= "predictiveCitySearch($event, cities, firmCities)"
        (ionInput)= "predictiveCitySearch($event, cities, firmCities)"
      showCancelButton="focus" animated="true" spellcheck="true" placeholder="Stadt" ></ion-searchbar>
      <ion-list id="#city_list">
          <ion-item *ngFor="let city of cities" (click)="chooseItem(city, firmCities, 'city')">{{ city }}</ion-item>
        </ion-list>
      <ion-searchbar id="#object_searchbar"
        (ionBlur)= "hideItems(objects)"
        (ionChange)="chooseItem($event.target.value , firmObjects, 'object')"
        (ionFocus)="predictiveCitySearch($event, objects, firmObjects)"
        (ionInput)="predictiveCitySearch($event, objects, firmObjects)"
        showCancelButton="focus" animated="true" spellcheck="true" placeholder="Objekt"></ion-searchbar>
      <ion-list id="#object_list">
          <ion-item *ngFor="let object of objects" (click)="chooseItem(object.street, firmObjects, 'object')">{{ object.street }}</ion-item>
        </ion-list>
      <!-- <ion-searchbar showCancelButton="focus" animated="true" spellcheck="true" placeholder="Zusatz"></ion-searchbar> -->
      <ion-button class="generate_button" (click)="openOMCListInTab()">Erstellen</ion-button>
  </form>
</ion-content>
