.image_buttons {
    width: 100%;
    margin-left: 11%;
    margin-right: 11%;
    ion-button {
        width: 38%;    
    };
}

.submit_button {
    ion-button {
        margin-left: 11%;
        margin-right: 11%;
        width: 78%;
    };
}