<ion-header>
    <ion-toolbar>
        <ion-title>{{property.city}}, {{property.street}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="property.owner !== ''">
        <ion-card-header>
            <ion-card-title>Inhaber</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.owner}}</p>
            <p>{{property.owner_street}}</p>
            <p>{{property.owner_zip}} {{property.owner_city}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.administrator)">
        <ion-card-header>
            <ion-card-title>Verwalter</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.administrator.company}}</p>
            <p>{{property.administrator.firstname}} {{property.administrator.lastname}}</p>
            <p>{{property.administrator.street}}</p>
            <p>{{property.administrator.zip}} {{property.administrator.city}}</p>
            <p><a href="tel:{{property.administrator.telephone}}">{{property.administrator.telephone}}</a></p>
            <p><a href="tel:{{property.administrator.mobile}}">{{property.administrator.mobile}}</a></p>
            <p><a href="mail:{{property.administrator.email}}">{{property.administrator.email}}</a></p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.elektriker)">
        <ion-card-header>
            <ion-card-title>Elektriker</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.elektriker.company}}</p>
            <p>{{property.elektriker.firstname}} {{property.elektriker.lastname}}</p>
            <p>{{property.elektriker.street}}</p>
            <p>{{property.elektriker.zip}} {{property.elektriker.city}}</p>
            <p><a href="tel:{{property.elektriker.telephone}}">{{property.elektriker.telephone}}</a></p>
            <p><a href="tel:{{property.elektriker.mobile}}">{{property.elektriker.mobile}}</a></p>
            <p><a href="mail:{{property.elektriker.email}}">{{property.elektriker.email}}</a></p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.heizung)">
        <ion-card-header>
            <ion-card-title>Heizung</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.heizung.company}}</p>
            <p>{{property.heizung.firstname}} {{property.heizung.lastname}}</p>
            <p>{{property.heizung.street}}</p>
            <p>{{property.heizung.zip}} {{property.heizung.city}}</p>
            <p><a href="tel:{{property.heizung.telephone}}">{{property.heizung.telephone}}</a></p>
            <p><a href="tel:{{property.heizung.mobile}}">{{property.heizung.mobile}}</a></p>
            <p><a href="mail:{{property.heizung.email}}">{{property.heizung.email}}</a></p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.sanitaer)">
        <ion-card-header>
            <ion-card-title>Sanitär</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.sanitaer.company}}</p>
            <p>{{property.sanitaer.firstname}} {{property.sanitaer.lastname}}</p>
            <p>{{property.sanitaer.street}}</p>
            <p>{{property.sanitaer.zip}} {{property.sanitaer.city}}</p>
            <p><a href="tel:{{property.sanitaer.telephone}}">{{property.sanitaer.telephone}}</a></p>
            <p><a href="tel:{{property.sanitaer.mobile}}">{{property.sanitaer.mobile}}</a></p>
            <p><a href="mail:{{property.sanitaer.email}}">{{property.sanitaer.email}}</a></p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.schluesseldienst)">
        <ion-card-header>
            <ion-card-title>Schlüsseldienst</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.schluesseldienst.company}}</p>
            <p>{{property.schluesseldienst.firstname}} {{property.schluesseldienst.lastname}}</p>
            <p>{{property.schluesseldienst.street}}</p>
            <p>{{property.schluesseldienst.zip}} {{property.schluesseldienst.city}}</p>
            <p><a href="tel:{{property.schluesseldienst.telephone}}">{{property.schluesseldienst.telephone}}</a></p>
            <p><a href="tel:{{property.schluesseldienst.mobile}}">{{property.schluesseldienst.mobile}}</a></p>
            <p><a href="mail:{{property.schluesseldienst.email}}">{{property.schluesseldienst.email}}</a></p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.schornsteinfeger)">
        <ion-card-header>
            <ion-card-title>Schornsteinfeger</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.schornsteinfeger.company}}</p>
            <p>{{property.schornsteinfeger.firstname}} {{property.schornsteinfeger.lastname}}</p>
            <p>{{property.schornsteinfeger.street}}</p>
            <p>{{property.schornsteinfeger.zip}} {{property.schornsteinfeger.city}}</p>
            <p><a href="tel:{{property.schornsteinfeger.telephone}}">{{property.schornsteinfeger.telephone}}</a></p>
            <p><a href="tel:{{property.schornsteinfeger.mobile}}">{{property.schornsteinfeger.mobile}}</a></p>
            <p><a href="mail:{{property.schornsteinfeger.email}}">{{property.schornsteinfeger.email}}</a></p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.brandschutz)">
        <ion-card-header>
            <ion-card-title>Brandschutz</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.brandschutz.company}}</p>
            <p>{{property.brandschutz.firstname}} {{property.brandschutz.lastname}}</p>
            <p>{{property.brandschutz.street}}</p>
            <p>{{property.brandschutz.zip}} {{property.brandschutz.city}}</p>
            <p><a href="tel:{{property.brandschutz.telephone}}">{{property.brandschutz.telephone}}</a></p>
            <p><a href="tel:{{property.brandschutz.mobile}}">{{property.brandschutz.mobile}}</a></p>
            <p><a href="mail:{{property.brandschutz.email}}">{{property.brandschutz.email}}</a></p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.rohrreinigung)">
        <ion-card-header>
            <ion-card-title>Rohrreinigung</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.rohrreinigung.company}}</p>
            <p>{{property.rohrreinigung.firstname}} {{property.rohrreinigung.lastname}}</p>
            <p>{{property.rohrreinigung.street}}</p>
            <p>{{property.rohrreinigung.zip}} {{property.rohrreinigung.city}}</p>
            <p><a href="tel:{{property.rohrreinigung.telephone}}">{{property.rohrreinigung.telephone}}</a></p>
            <p><a href="tel:{{property.rohrreinigung.mobile}}">{{property.rohrreinigung.mobile}}</a></p>
            <p><a href="mail:{{property.rohrreinigung.email}}">{{property.rohrreinigung.email}}</a></p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isArtisanFilled(property.fahrstuhl)">
        <ion-card-header>
            <ion-card-title>Fahrstuhl</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{property.fahrstuhl.company}}</p>
            <p>{{property.fahrstuhl.firstname}} {{property.fahrstuhl.lastname}}</p>
            <p>{{property.fahrstuhl.street}}</p>
            <p>{{property.fahrstuhl.zip}} {{property.fahrstuhl.city}}</p>
            <p><a href="tel:{{property.fahrstuhl.telephone}}">{{property.fahrstuhl.telephone}}</a></p>
            <p><a href="tel:{{property.fahrstuhl.mobile}}">{{property.fahrstuhl.mobile}}</a></p>
            <p><a href="mail:{{property.fahrstuhl.email}}">{{property.fahrstuhl.email}}</a></p>
        </ion-card-content>
    </ion-card>
</ion-content>
