.labelname {
    font-weight: bold;
}
.labelIO {
    margin-right: 5pt;
    margin-left: 5pt;
}
.image_buttons {
    width: 100%;
    margin-left: 11%;
    margin-right: 11%;
    ion-button {
        width: 38%;    
    };
}
.descr textarea {
    height: auto;
}