<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/object-manager-control-list"></ion-back-button>
    </ion-buttons>

    <ion-title>       
      <h2 style="margin: 0; padding: 0;">Kontrolle - {{data}}</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appNetworkListener>
  <form [formGroup]="myFormNew">
    <ion-item *ngFor="let label of labels">
      <ion-label>{{ label }}</ion-label>
      <ion-checkbox slot='start' (ionChange)='checkCheckbox()'></ion-checkbox>
      <ion-input placeholder='Beschreibung des Problems'></ion-input>
      <ion-icon name='camera' slot='end' (click)='openCamera()'></ion-icon>
      <ion-icon name="photos" slot='end' (click)='openPhotos()'></ion-icon>
    </ion-item>
    <ion-button class="generate_button" type='submit' [disabled]='myFormNew.invalid'>Fertig</ion-button>
  </form>

</ion-content>
