<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/object-manager-control-list"></ion-back-button>
    </ion-buttons>

    <ion-title>       
      <h2 style="margin: 0; padding: 0;">Kontrolle - {{name}}</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myFormNew">
    <ion-item *ngFor="let label of labels">
      <ion-label class = 'labelname' slot = 'start'>{{ label.name }}</ion-label>
      <ion-checkbox (ionChange)='checkCheckbox(this.label,$event.target)'></ion-checkbox>
      <ion-label class='labelIO' >In Ordnung</ion-label>
      <ion-input name = 'description' placeholder='Beschreibung des Problems'></ion-input>
      <ion-icon name='camera' slot='end' (click)='openCamera()'></ion-icon>
      <ion-icon name="photos" slot='end' (click)='openPhotos()'></ion-icon>
    </ion-item>
    <ion-button class="generate_button" type='submit' (click)="submit()">Fertig</ion-button>
  </form>

</ion-content>
