<!-- <ion-header>
  <ion-toolbar>
    <ion-title>popovercomponent</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-list>
      <ion-item (click)="add('Dachboden')">
        <ion-label>
          Dachboden
        </ion-label>
        <ion-icon name="add-circle" color="success" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="add('Keller')">
        <ion-label>
          Keller
        </ion-label>
        <ion-icon name="add-circle" color="success" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="add('Hof')">
        <ion-label>
          Hof
        </ion-label>
        <ion-icon name="add-circle" color="success" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="add('Fahrradraum')">
        <ion-label>
          Fahrradraum
        </ion-label>
        <ion-icon name="add-circle" color="success" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="add('Fassade')">
        <ion-label>
          Fassade
        </ion-label>
        <ion-icon name="add-circle" color="success" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="add('Briefkästen')">
        <ion-label>
          Briefkästen
        </ion-label>
        <ion-icon name="add-circle" color="success" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="add('new')">
        <ion-label>
          Neue Kontrolle anlegen
        </ion-label>
        <ion-icon name="add-circle" color="success" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
