<ion-header>
    <ion-toolbar>
        <ion-title>Einstellungen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content appNetworkListener>
    <ion-list>
        <ion-item>
            <ion-label>Quality</ion-label>
            <ion-range min="0" max="100" color="secondary">
                <ion-label slot="start">0</ion-label>
                <ion-label slot="end">100</ion-label>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label>Datenbank</ion-label>
            <ion-button (click)="databaseSync()">Abgleichen</ion-button>
        </ion-item>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <ion-item>
                <ion-label>Konfiguration</ion-label>
                <ion-input id="adminPassword" type="password" placeholder="Passwort"></ion-input>
                <ion-button type='submit' [disabled]='loginForm.invalid'>Login</ion-button>
            </ion-item>
        </form>
    </ion-list>
</ion-content>
